@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin:0;
    padding:0;
    font-family:"Poppins", sans-serif;
    color:white;
}

html,body {
    width:100%;
    height:100%;
}
body {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    
    background:rgb(22, 22, 22);
}

#card { 
    border:1em;
    background:rgba(54, 54, 54, 0.471);
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width:23%;
    height:70%;
    border-radius:1em;
    padding:3em;
    box-sizing: border-box;
}

#dp {
    width:7em;
    height:7em;
}

#dp img {
    border:1px;
    border-radius:50%;
    width:7em;
    height:7em;
    object-fit: cover;
}

#name {
    color:white;
    font-size:1.8em;
}

#location {
    color:rgb(155, 242, 97);
}

#description {
    padding:1.5rem 0 1.5rem 0;
    opacity: 0.8;
}



#links {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width:100%;
    gap: 1em;
}

.link-button {
    text-decoration: none;
    background:rgba(128, 128, 128, 0.33);
    width:100%;
    height:2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:8px;
}

@media (max-width:1092px) {
    #card {
        width:23%;
    }
}

@media (max-width:1700px) {
    #card {
        width:30%;
    }
}

@media (max-width:1500px) {
    #card {
        width:35%;
    }
}

@media (max-width:1200px) {
    #card {
        width:40%;
    }
}


@media (max-width:720px) {
    #card {
        width:50%;
    }
}

@media (max-width:500px) {
    #card {
        width:70%;
    }
}